<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaScript Template Example</title>
  </head>
  <body>
    <h1>JavaScript Template</h1>
    <p>이 페이지는 HTML 및 JavaScript 템플릿 예제를 보여줍니다.</p>
    <p>
      <a
        href="https://velog.io/@moon_dev/series/JavaScript-자바스크립트"
        target="_blank"
      >
        MOON.DEVELOG 글 보기
      </a>
      <!-- 외부 JavaScript 파일 연결 -->
      <script src="script.js"></script>
    </p>
  </body>
</html>
